body{
	overflow: hidden
}
input{
	height: 50px;
	border: 0px solid;
	background-color: #f2f4f5 ;
	border-radius: 7px;
	font-size: 12px;
}
.pasha_main{
	background-color:var(--color-bg);
	width: 30%;
	margin-left: 35%;
	margin-top: 10%;
	height: 350px;
	border-radius: 7px;
}
.forinput{
	display: flex;
	flex-direction: column;
	color: var(--color-bg2);
}
.or{
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.in{
	color: var(--color-bg2);
	height: 65%;
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	border-bottom: 3px solid;
}
.reg{
	height: 65%;
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid #CAC9C9;

}
.pasha_btn{
	background-color: #FCFF00;
	border: 0px solid;
	width: 80%;
	height: 40px;
	border-radius: 7px;
	margin-top: 5%;
	margin-left: 10%;
	margin-left: 10%;
}

@media(max-width:600px) {
	/*body{
		padding-top: 10%;
	}*/
	.pasha_main{
		height: 500px;
		width: 75%;
		margin-left: 15%;
		margin-top: 23%;
	}
	input{
		height: 50px;
	}
	.pasha_btn{
		margin-top: 15%;
	}
	.or{
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	}

}