:root {
    --color-bg: #386caa;
    --color-bg2: white;
    --color-bg_3:#f2f4f5;
    --logo-theme: url('../img/logo-light.png');
    --color-font: white;
    --color-fontbl:black;
    --color-border:white;
    
	--color-bg104:#386caa;
    --color-bg103:white;

    --color-bgD: white;
    --color-bgF: #333333;
}

/* header startttttttttttttttttttttttttttttttttttttttttttttttttttttttttt */

<<<<<<< HEAD
header {
    display: flex;
    align-items:flex-end;
    position: fixed;
     width: 100%;
     height: 70px;
     background-color:var(--color-bg);
     color:white;
     display: flex;
     top: 0px;
     z-index: 4a;
}

header div.logo {
    
    width: 300px;
    height: 65px;
    position: relative;

}

header div.logo .img {
    width: 100%;
    height: 87%;
    background-image: var(--logo-theme);
    background-repeat: no-repeat;
    background-size: cover;

}

header div.logo a3 {
    width: 2px;
    height: 2px;
    position: absolute;
    left: 23px;
    top: 16px;
    

}

header div.x {
    width: 320px;
    height:30px ;
    
}
header div.xx {
    width: 40%;
    height:30px ;
    display: flex;
    align-items:flex-end;
    font-family: serif;
    
}



header div.xx a4{
    width:25px ;
    height: 30px;
    align-items:flex-end;
    padding-left: 5px;
}


header div.ob{
    width: 600px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header div.ob a1{
    width: 35px;
    height: 22px;
    border-right-width: 2px;
    border-right-style: solid;
    border-right-color: var(--color-font);
    font-size: 16px;
    color:var(--color-font);
}



header div.ob a2{
    width: 50px;
    height: 22px;
    font-size: 16px;
    color:var(--color-font);
    padding-left: 10px;
}



header div.ob div.profile{
    width: 170px;
    height: 25px;
    font-size: 20px;
    color:var(--color-font);
    margin-left: 10px;
}

header div.ob div.post{
    /* width: 200px; */
    /* height: 50px; */
    background-color: #ffd007;
    color:var(--color-bg);
    font-size: 20px;
    border-radius:5px;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 12px 18px;
    white-space: nowrap;
}

header div.ob div.post div.post1{
    font-size: 20px;
    /* width: 160px; */
    /* height: 20px; */
}

=======
>>>>>>> 87696831cc279e8ec90fff804033aa0e2a30f7e1



/* toggle12wwwwwwwwwwwwwwwww */
input {
	display: block;
	margin-bottom: 1.5em;
	font-size: 0.5px;
}
main {
	padding: 6em 1.5em 0 1.5em;
	text-align: center;	
}
.l {
	background-color: rgba(0,0,0,0.7);
	border-radius: 0.75em;
	box-shadow: 0.125em 0.125em 0 0.125em rgba(0,0,0,0.3) inset;
	color: #fdea7b;
	font-size: 1em;
	display: inline-flex;
	align-items: center;
	margin: auto;
	padding: 0.15em;
	width: 3em;
	height: 1.5em;
	transition: background-color 0.1s 0.3s ease-out, box-shadow 0.1s 0.3s ease-out;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.l:before, .l:after {
	content: "";
	display: block;
}
.l:before {
	background-color: #d7d7d7;
	border-radius: 50%;
	width: 1.2em;
	height: 1.2em;
	transition: background-color 0.1s 0.3s ease-out, transform 0.3s ease-out;
	z-index: 1;
}
.l:after {
	background:
		linear-gradient(transparent 50%, rgba(0,0,0,0.15) 0) 0 50% / 50% 100%,
		repeating-linear-gradient(90deg,#bbb 0,#bbb,#bbb 20%,#999 20%,#999 40%) 0 50% / 50% 100%,
		radial-gradient(circle at 50% 50%,#888 25%, transparent 26%);
	background-repeat: no-repeat;
	border: 0.25em solid transparent;
	border-left: 0.4em solid #d8d8d8;
	border-right: 0 solid transparent;
	transition: border-left-color 0.1s 0.3s ease-out, transform 0.3s ease-out;
	transform: translateX(-22.5%);
	transform-origin: 25% 50%;
	width: 1.2em;
	height: 1em;
}
/* Checked */
.l:focus {
	/* Normally an anti-A11Y practice, but set to remove an annoyance just for this demo */
	outline: 0;
}
.l:checked {
	background-color: rgba(0,0,0,0.45);
	box-shadow: 0.125em 0.125em 0 0.125em rgba(0,0,0,0.1) inset;
}
.l:checked:before {
	background-color: currentColor;
	transform: translateX(125%)
}
.l:checked:after {
	border-left-color: currentColor;
	transform: translateX(-2.5%) rotateY(180deg);
}