:root {
    --color-bg: black;
    --color-bg2: white;
    --color-bg3:#f2f4f5;
    --logo-theme: url('../img/logo-light.png');
    --color-font: white;
    --color-fontbl:black;
    --color-border:white;
}