div.header12 {
    width: 94%;
    height: 35px;
    /* border-radius: 0%; */
    display:flex;
    position: fixed;
    top: 25px;
    left: 3%;
  }
  
  div.header12 input.biksearch {
      width: 100%;
      height: 30px;
      padding-left: 3%;
      /* border-radius: 9%; */
      background-color: var(--color-bg104);
  }
  
  body{
      display: block;
      /* height: 2000px; */
      background-color: var(--color-bg103);
      margin: 0%;
  }
  
  div.bikadvert {
      width: 100%;
      height: 200px;
      margin-top: 70px;
      margin-bottom: 10px;
      display: flex;
      background-color:var(--color-bg103);
  }
  div.bikadvert img{
      width: 100%;
  }


  
  
  
  div.bikVipAd {
    width: 97%;
    height: 25px;
    font-size: 22px;
    margin-left: 5%;
    /* background-color: blanchedalmond; */
    color: var(--color-font);
}
  
  
  
  div.bikad {
      width: 94%;
      margin: 3%;
      flex-wrap: wrap;
      display: flex;
      background-color: var(--color-bg103);
      color: var(--color-font);
  }
  
  div.bikad a {
    width: 47%;
    height: 200px;
    background-color: var(--color-bg104);
    display: block;
    /* flex-direction: column; */
    margin-bottom: 10px;
    margin-right: 1.5%;
    /* margin-left: 1.5%; */
    border-radius: 10px;
    color: var(--color-font);
    border: 0px;
    text-decoration: none;
}

  
  
div.bikad a div.bikAd1 {
    width: 100%;
    height: 200px;
    background-color: var(--color-bg104);
    display: block;
    /* flex-direction: column; */
    margin-bottom: 10px;
    margin-right: 1.5%;
    /* margin-left: 1.5%; */
    border-radius: 5px;
}
 
  
  div.bikad div.bikAd1 div.bikImg {
      width: 100%;
      height: 100px;
  }
  
  div.bikad div.bikAd1 div.bikImg img {
      width: 100%;
      height: 100px;
      border-radius: 5px;
      /* background-color: yellow; */
  }
  
  
  
  div.bikad div.bikAd1 div.bekTitle {
      width: 94%;
      height: 27px;
      font-size: 17px;
      margin: 3%;
      margin-top: 7px;
      /* background-color: cyan; */
  }
  
  
  
  div.bikad div.bikAd1 div.bikPrice {
      width: 94%;
      height: 26px;
      font-size: 20px;
      margin: 3%;
      /* background-color: blue; */
  }
  
  
  
  div.bikad div.bikAd1 div.bikTime {
      width: 94%;
      height: 20px;
      margin: 3%;
      /* background-color: firebrick; */
  }
  
  
  
  div.bikHeaderx {
      width: 100%;
      height: 60px;
      background-color: var(--color-bg104);
      display:  flex;
      position: fixed;
      bottom: 0px;
      justify-content: space-evenly;
  }
  
        div.bikHeaderx div.bikhome {
            width: 15%;
            height: 60px;
            display:  block;
            align-items: center;
            justify-content: center;
            /* background-color: cornflowerblue; */
            color: var(--color-font);
        }

        div.bikHeaderx div.bikhome i.fas.fa-home{
            
            
            font-size: 25px;
        }
        




div.bikHeaderx div.bikchosen{
    width: 15%;
            height: 60px;
            display:  block;
            align-items: center;
            justify-content: center;
            /* background-color: rgb(100, 237, 123); */
            color: var(--color-font);
            font-size: 14px;

}
div.bikHeaderx div.bikchosen i.far.fa-heart{
   
            font-size: 25px;

}

    
        div.bikHeaderx div.bikCreate {
            width: 15%;
            height: 60px;
            display:  block;
            align-items: center;
            justify-content: center;
            color: var(--color-font);
            /* background-color: rgb(253, 157, 2); */
        }
        div.bikHeaderx div.bikCreate i.fas.fa-cart-plus{
           
            font-size: 25px;

        }


div.bikHeaderx div.bikprofile{
    width: 15%;
            height: 60px;
            display: block;
            align-items: center;
            justify-content: center;
            color: var(--color-font);
            /* background-color: rgb(180, 142, 250); */

}
div.bikHeaderx div.bikprofile i.far.fa-user{
    
            font-size: 25px;

}

  
  

            div.bikHeaderx div.change1 {
                width: 15%;
                height: 60px;
                display: block;
                align-items: center;
                justify-content: center;
                color: var(--color-font);
                /* background-color: rgb(255, 38, 0); */
            }
            div.bikHeaderx div.change1 i.fas.fa-star-half-alt{
                
                font-size: 25px;

            }