body{
    margin: 0px;
    color: var(--color-fontbl);
    transition: 0.5s;
}

header {
    display: flex;
    align-items:flex-end;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 70px;
    background-color:var(--color-bg);
    color:white;
    display: flex;
    
}

header div.logo {
    
    width: 300px;
    height: 65px;
    position: relative;

}

header div.logo .img {
    width: 100%;
    height: 87%;
    background-image: var(--logo-theme);
    background-repeat: no-repeat;
    background-size: cover;

}

header div.logo a3 {
    width: 2px;
    height: 2px;
    position: absolute;
    left: 23px;
    top: 16px;
    

}

header div.x {
    width: 200px;
    height:30px ;
    
}
header div.xx {
    width: 40%;
    height:30px ;
    display: flex;
    align-items:flex-end;
    font-family: serif;
    
}



header div.xx a4{
    width:25px ;
    height: 30px;
    align-items:flex-end;
    padding-left: 5px;
}


header div.ob{
    width: 600px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}

header div.ob a1{
    width:35px ;
    height: 22px;
    border-right-width: 2px; 
    border-right-style: solid;
    border-right-color: var(--color-font);
    font-size: 16px;
    color:var(--color-font);
}



header div.ob a2{
    width:25px ;
    height: 22px;
    font-size: 16px;
    color:var(--color-font);
    margin-left: 10px;
}



header div.ob div.profile{
    width: 130px;
    height: 25px;
    font-size: 20px;
    color:var(--color-font);
    margin-left: 10px;
}

header div.ob div.post{
    width: 200px;
    height: 50px;
    background-color:var(--color-bg2);
    color:var(--color-bg);
    font-size: 20px;
    border-radius:5px;
    align-items: center;
    justify-content: center;
    display: flex;
    


}

header div.ob div.post div.post1{
    font-size: 20px;
    width: 160px;
    height: 20px;
    

}
/* .error_icon{
    width: 200px;
}
.star_icon{
    height: 70px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.star_icon .far.fa-star{
    font-size: 30px;
} */

/* /header */
.kas1{
   width: 100%;
   height: 250px;
   background: var(--color-bg2); 
   margin: 0px;
   transition: 0.5s;
}
.kas2{
    width: 100%;
    height: 110px;
    background:  var(--color-bg2); 
    margin: 0px;
    transition: 0.5s;
}
.kas1 .kas_h2{
    font-size: 32px;
    font-weight: 500;
    line-height: 1.06;
    margin-bottom:0px;
    margin-left:28px;
}

.kas1 .kas_ul{

}
.kas1 .btn1{
    float: right;
    font-size: 50px;
    margin-right: 30px;
    transition: 0.5s;
}

.kas1 .kas_li{
    float: left;
    list-style:none;
    margin-left:30px;
    font-weight: inherit;
    padding: 20px;
}
.kas1 .kas_li.f1{
    margin-left:50px;  
}
.kas3{
    width: 100%;
    height: 700px;
    background: var(--color-bg_3);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    transition: 0.5s;
}
.kas3 .kas_ob{
    width: 300px;
    height: 350px;
    background:  var(--color-bg2);
    padding: 15px;
    margin-left: 20px;
    margin-top: 20px;
    transition: 0.5s;
}
.kas3 .kas_ob .kas_op {
    display: flex;
    flex-direction: column;
}
.kas3 .kas_ob .kas_op{
    
}
.kas3 .kas4{
    width: 90%;
    height: auto;
    background: var(--color-bg_3);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    transition: 0.5s;
}
.kas_ob.v1 .kas_op{
    display: flex;
flex-direction: column;
margin-left: 50px;
}
.kas_ob.v1 {
width: 80%;
height: 200px;
display: flex;
flex-direction: row;

}
.kas_a{
    text-decoration: none;
    color: var(--color-fontbl);
    transition: 0.5s;
}
.kas_ob {
    width: 300px;
    height: 350px;
    background:  var(--color-bg2);
    padding: 15px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 5px;
    transition: 0.5s;
}
.kas_img{
    border: solid var(--color-border) 3px;
    transition: 0.5s;
}
@media(max-width:600px){
    .kas_ob .kas_img{
        width: 300px;
        height: 168px;
        border-radius: 5px;
    }
    .kas_ob.v1 .kas_img{
        width: 150px;
        height: 90px;
        border-radius: 5px;
    }
    .kas_ob.v1 .kas_op{
        font-size: 10px;
        margin: 15px;
    }
    .kas_ob.v1{
        height: 100px;
        align-items: center;
    }
}