.select_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    
  }
  
  .select_box select {
    background-color: var(--color-bg);
    color: white;
    padding: 12px;
    width: 250px;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    
  }
  
 
  
  .select_box select option {
    padding: 30px;
    background:var(--color-bg) ;
  }
.margin_div{

}
@media (max-width: 1440px){
  .homepage form.searchmain input.queryfield {
    width: 510px;
}
}
.btn_delete {
  float: right;
  border: none;
  background: red;
  color: white;
  border-radius: 5px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper2 {
  display: flex;
  flex-direction: row;
}

.margin {
  height: 60px;
}

.btn2 {
  border: none;
  background: #3f80ea;
  color: white;
}

.mysqli_true {
  color: green;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
}

.mysqli_false {
  color: green;
}